@import './src/styles/_variables';

.filters {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 35px;
}

.range {
  display: grid;
  grid-template-columns: repeat(2, minmax(45px, 1fr));
  gap: 32px;
  max-height: 120px;
}

.queryInput {
  background-color: $main-color-light;

  &--dark {
    background-color: $main-color-dark;
  }
}

.inputRange {
  max-width: 160px;
  background-color: #efefef;

  &--dark {
    background-color: $main-color-light;
  }
}

.dash {
  position: absolute;
  box-sizing: border-box;
  top: calc(50% - 1px);
  right: calc(50% - 6px);
  width: 12px;
  height: 1px;
}

@media screen and (max-width: 767px) {
  .filters {
    display: grid;
    grid-template-columns: minmax(160px, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1365px) {
  .range {
    display: grid;
    grid-template-columns: minmax(110px, 1fr);
    gap: 32px;
  }
}

@media screen and (max-width: 767px) {
  .range {
    display: grid;
    grid-template-columns: repeat(2, minmax(110px, 1fr));
    gap: 32px;
  }
}
