$main-color-light: white;
$main-color-dark: black;
$additional-color: grey;

$border-radius-main: 20px;
$border-radius-add: 8px;

$transition: background-color 0.1s ease-in-out;

$font-family: 'Roboto', sans-serif;
$font-size-normal: 13px;
$fonr-size-medium: 16px;
$fonts-size-big: 18px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
